development: &default
  adapter: "mysql2"
  encoding: "utf8"
  database: "rails-template_development"
  host: "localhost"
  username: "root"
  password: ""

test: &TEST
  <<: *default
  database: "rails-template_test"

production:
  <<: *default
  database: "rails-template_production"