<div>
  category :
  <%= form.association :category, :collection => collection_for_categories %>
</div>
<div>
  title :
  <%= form.input_field :title %>
</div>
<div>
  <%= form.input_field :content %>
</div>
<%= form.submit %>