<%= form_for @post, :url => posts_path, :method => :post do |f| %>
    <div>
        title :
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.text_area :content %>
    </div>
    <%= f.submit %>
<% end %>